<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Inmueble</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    
    <!--Main Content-->
    <div class="my-5">
      <div class="mx-auto w-25 " style="max-width:100%;">
        <h2 class="text-center mb-3">Add Inmueble</h2>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="name" class="form-label">Inmueble</label>
              <input id="name"  formControlName="inmuebles" type="text" name="name" class="form-control" placeholder="Inmueble" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="direccion" class="form-label">direccion</label>
              <input id="direccion" type="text"  formControlName="direccion" name="direccion" class="form-control" placeholder="direccion" required>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="id_inmueble" class="form-label">ID inmueble</label>
              <input id="id_inmueble" type="text" name="id_inmueble"  formControlName="id_inmueble" class="form-control" placeholder="ID inmueble" required>
            </div>
          </div>
                  
          <div class="row">
            <div class="col-md-12 form-group">
              <input [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Submit">
            </div>
          </div>

          <div>
            
          </div>
        </form>
      </div>
    </div>
</body>
</html>
